@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* main */
* {
    font-family: 'Roboto', sans-serif;
    color: var(--black) !important;
}

:root {
    --grey: #F3F3F3;
    --blue: #1773BA;
    --black: #363636;
}

/* other */
.bkg-blue{
    background: var(--blue);
}

/*header*/
header{
    padding: 22px 0;
}

.header-container{
    height: inherit;
}

li{
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
}

li::marker{
    color: var(--blue);
}

/* title */
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 40px;
    color: #FFFFFF !important;
    text-align: center;
    margin-bottom: 80px;
}

.sub-title{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    color: #FFFFFF !important;
    text-align: center;
    margin-bottom: 66px;
}

.title.dark,
.sub-title.dark{
    color: var(--black) !important;
}

/* section */
.section-container{
    padding: 150px 0;
}

/* cards */
.cards{
    transition: all ease .3s;
}

.cards:hover{
    transition: all ease .3s;
    cursor: pointer;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2),
                0 16px 24px 2px rgba(0,0,0,.14),
                0 6px 30px 5px rgba(0,0,0,.12);
}

/* buttons */
.buttons{
    transition: all ease .3s;
}

.buttons:hover{
    opacity: .4;
    transition: all ease .3s;
}

/* form */
.form-text-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-input{
    width: 405px;
    height: 60px;
    outline: none;
    border: none;
    padding: 27px 22px;
    background: var(--grey);
    border-radius: 4px;
}

.form-title{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
    color: var(--black);
}

.form-title.required::after{
    content: '*';
    margin-left: 10px;
}

/* footer */
.footer-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF !important;
    padding: 15px 0;
}
